.PartnerCompany-main-div {
  margin: auto;
  margin: 80px;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}
.PartnerCompany-main-div img {
  width: 200px;
  height: 100%;
}
