.qtyBtn {
    width: 200px;
    height: 80px;
    border: 1px solid orange;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
  }